<key>NSPhotoLibraryUsageDescription</key>
<string>We need access to your photo library to upload pictures</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>We need permission to save pictures to your photo library</string>
<key>NSCameraUsageDescription</key>
<string>We need access to your camera to take pictures</string>
<key>NSMicrophoneUsageDescription</key>
<string>We need access to your microphone for video recording</string>
